* {
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 1.3em;
}
.grid-item {
  padding: 10px;
  background-color: purple;
  color: white;
  text-align: center;
}
/* Add your code here */
.grid-item{
  margin: 1px;
}
  .item1{
   grid-area: item1;
  }
  .item2{
    grid-area: item2;
  }
  .item3{
    grid-area: item3;
  }
  .item4{
    grid-area: item4;
  }
  .item5{
    grid-area: item5;
  }
  .item6{
    grid-area: item6;
  }
  .item7{
    grid-area: item7;
  }
  .item8{
    grid-area: item8;
  }
  .item9{
    grid-area: item9;
  }
  .item10{
    grid-area: item10;
  }
  @media screen and (max-width: 414px) and (min-width: 1px)
{
  .grid-container{
    display:grid;
    align-items: stretch;
    grid-template-columns: repeat(4,25%);
    grid-template-rows: repeat(4,125px);
    grid-template-areas: 
    "item1 item1 item2 item4"
    "item5 item5 item6 item9"
    "item5 item5 item6 item9"
    "item10 item10 item10 item10";
  }
  .item3, .item7, .item8{
    visibility: hidden;
  }
}
@media screen and (min-width: 415px)
{
.grid-container{
  display:grid;
  align-items: stretch;
  grid-template-columns: repeat(5,20%);
  grid-template-rows: repeat(5,100px);
  grid-template-areas: "item1 item1 item3 item3 item3"
  "item2 item4 item3 item3 item3"
  "item5 item5 item3 item3 item3"
  "item5 item5 item6 item7 item8"
  "item9 item10 item10 item10 item10";

}
}
