body{
    background: url("https://i.imgur.com/nIM4P1r.jpg");
}

*:focus {
    outline: none;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(24,calc(100%/24));
    grid-template-rows: repeat(24,calc(100vh/24));
}
/*
Labels
*/

#initiative-label{
    background-image: url("https://i.imgur.com/MjqB2ug.png");
    grid-row: 1/4;
    grid-column: 19/22;
}

.page-title{
    font-family: Impact, Charcoal, sans-serif;
    font-size: 6vw;
    grid-column: 6/19;
    color: white;
    text-align: center;
}

.team-mate-maneuvers-label{
    color: white;
    text-align: center;
    font-family: Impact, Charcoal, sans-serif;
    font-size: 2vw;
    grid-row:3/5;
    grid-column: 22/25;
}

.card-type-label{
    color: white;
    text-align: center;
    font-family: Impact, Charcoal, sans-serif;
    font-size: 2vw;
    grid-row:4;
    grid-column: 16/21;
}

.display-box{
    border: 1px solid white;
    background-color: black;
    padding-inline-start: 0px;
    display: inline-block;
    overflow: scroll;
}

#target-lock-label{
    color: white;
    text-align: center;
    font-family: Impact, Charcoal, sans-serif;
    font-size: 2vw;
    grid-column: 12/15;
    grid-row: 14;
    margin-block-start: 0.5em;
}

#team-label{
    color: white;
    text-align: center;
    font-family: Impact, Charcoal, sans-serif;
    font-size: 2vw;
    text-align:center;
    grid-column: 1/6;
    grid-row: 1;
}

#team-name-label{
    color: white;
    text-align: center;
    font-family: Impact, Charcoal, sans-serif;
    font-size: 2vw;
    text-align:center;
    grid-column: 1/6;
    grid-row: 2;
}

/*
Unsorted Lists
*/
#team-mate-maneuvers{
    grid-row: 5/21;
    grid-column:22/25;
}

#card-box{
    grid-row: 5/21;
    grid-column: 16/21;
}

#target-lock-box{
    grid-column: 12/15;
    grid-row: 15/22;   
}
/*
Buttons
*/
.button{
    background-image: url("https://i.imgur.com/RkyE0Xv.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    font-family: Impact, Charcoal, sans-serif;
    font-size: 2vw;
    text-align: center;
}

.long-button{
    background-image: url("https://i.imgur.com/QqrKDZs.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    font-family: Impact, Charcoal, sans-serif;
    font-size: 2vw;
    text-align: center; 
}

#search-button{
    grid-row: 21/24;
    grid-column: 22/25;
}

#cycle-button{
    grid-row: 21/24;
    grid-column: 16/21;
}

#add-target-lock-button{
    grid-row: 22/24;
    grid-column: 12/15;
    margin-top: -8%;
}

#previous-maneuver-button{
    grid-column: 9/12;
    grid-row: 8/11;
    background-image: url("https://i.imgur.com/IWOoJwp.png");
}

#next-maneuver-button{
    grid-row: 8/11;
    grid-column: 13/16;
    background-image: url("https://i.imgur.com/I7pRm3g.png");
}

#flip-button{
    grid-row: 4/6;
    grid-column: 9/11;
}

.button-container{
    display: grid;
    grid-row: 11/14;
    grid-column: 6/16;
    grid-template-columns: repeat(20,calc(100%/20));
    grid-template-rows: repeat(1,calc(100%));
}

#back-button{
    grid-row:1;
    grid-column: 2/6;
}

#select-button{
    grid-row: 1;
    grid-column: 8/20;
}

.test-div-border{
    /*border: 1px solid white;*/

}
/*
Stat and images for stats next to the pilot card.
*/
.stat-image{
    grid-column: 6;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-color: transparent;
}

.stat-text{
    text-align: left;
    grid-column: 7/9;
    font-family: Impact, Charcoal, sans-serif;
    font-size: 2vw;
    text-align: center;
    color: white;
}

#pilot-image{
    grid-row: 4/15;
    grid-column: 1/6;
}

#roster-image{
    background-image: url("https://i.imgur.com/pPhaRyl.png");
    grid-row:4;
}
#roster-text{
    grid-row: 4;
}
#pilot-skill-image{
    background-image: url("https://i.imgur.com/Y43E97x.png");
    grid-row: 5;
}
#pilot-skill-text{
    grid-row: 5;
}
#attack-image{
    background-image: url("https://i.imgur.com/Y39TqgA.png");
    grid-row: 6;
}
#attack-text{
    grid-row: 6;
}
#agility-image{
    background-image: url("https://i.imgur.com/M7lUR6Z.png");
    grid-row: 7;
}
#agility-text{
    grid-row: 7;
}
#hull-image{
    background-image: url("https://i.imgur.com/OMjodS4.png");
    grid-row: 8;
}
#hull-text{
    grid-row: 8;
}
#shield-image{
    background-image: url("https://i.imgur.com/Aa8z8rX.png");
    grid-row:9;
}
#shield-text{
    grid-row:9;
}
#energy-image{
    background-image: url("https://i.imgur.com/21ZF1eI.png");
    grid-row:10;
}
#energy-text{
    grid-row: 10;
}

/*
Maneuver selection console
*/
.maneuver-container{
    grid-row: 4/8;
    grid-column: 11/14;
    display: grid;
    grid-template-columns: repeat(6,calc(100%/6));
    grid-template-rows: repeat(2,calc(100%/2));
}

#maneuver-range{
    grid-row: 1;
    grid-column: 2/6;
}

#maneuver-type{
    grid-row: 2;
    grid-column: 2/6;
}

/*
This section of code is for the token box on the bottom left corner.
*/
#token-box{
    grid-row: 15/24;
    grid-column: 1/12;
    border: 1px solid white;
    background-color: black;
    margin-block-start: 1em;
    display: grid;
    grid-template-columns: repeat(4,calc(100%/4));
    grid-template-rows: repeat(3,calc(97%/3));
}

.token{
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-color: transparent; 
    margin:5%;
    opacity: 25%;
    text-align: end;
    color: white;
    font-family: Impact, Charcoal, sans-serif;
    font-size: 2vw;
}

#focus-token
{
    background-image: url("https://i.imgur.com/FUPk0q9.png");
    grid-row: 1;
    grid-column: 1;
}

#evade-token
{
    background-image: url("https://i.imgur.com/Dls1QSF.png");
    grid-row: 2;
    grid-column: 1;
}

#stress-token{
    background-image: url("https://i.imgur.com/geEgnx6.png");
    grid-row: 3;
    grid-column: 1; 
}

#ion-token{
    background-image: url("https://i.imgur.com/pky2QIu.png");
    grid-row: 1;
    grid-column: 2;
}

#jam-token{
    background-image: url("https://i.imgur.com/SyMwBez.png");
    grid-row: 2;
    grid-column: 2;
}

#weapons-disabled-token{
    background-image: url("https://i.imgur.com/cKtkZ63.png");
    grid-row: 3;
    grid-column: 2; 
}

#cloak-token{
    background-image: url("https://i.imgur.com/TlTTykx.png");
    grid-row: 1;
    grid-column: 3;
}

#reinforce-token{
    background-image: url("https://i.imgur.com/ffuItcQ.png");
    grid-row:2;
    grid-column: 3;
}

#tractor-beam-token{
    background-image: url("https://i.imgur.com/3wmhkWB.png");
    grid-row: 3;
    grid-column: 3;
}

#upgrade-token{
    background-image: url("https://i.imgur.com/xOPUyGn.png");
    grid-row: 1;
    grid-column: 4;
    opacity: 100%;
}

#critical-hit-token{
    background-image: url("https://i.imgur.com/JNlHDKX.png");
    grid-row: 2;
    grid-column: 4;
    opacity: 100%;
}

#condition-token{
    background-image: url("https://i.imgur.com/ZT9d44p.png");
    grid-row: 3;
    grid-column: 4;
    opacity: 100%;
}

/*
Overlay and pop-up screens
*/
#overlay{
    position: fixed;
    opacity: 0;
    top:0;
    left: 0;
    right:0;
    bottom:0;
    background-color: rgba(0,0,0,.5);
    pointer-events: none;
}

.pop-up-title{
    font-family: Impact, Charcoal, sans-serif;
    font-size: 3vw;
    color: white;
}

.pop-up-container{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 5px solid white;
    z-index: 100;
    background: url("https://i.imgur.com/nIM4P1r.jpg");
    width: 40%;
    visibility: hidden;
    text-align: center;
}

.yes-button{
    width: 25%;
    height: 25vh;
}

.no-button{
    width: 25%;
    height: 25vh;
}



.pop-up-prev-button{
    background-image: url("https://i.imgur.com/IWOoJwp.png");
    grid-column: 2/5;
    grid-row: 6/9;
}

.pop-up-next-button{
    background-image: url("https://i.imgur.com/I7pRm3g.png");
    grid-column: 13/16;
    grid-row: 6/9;

}

#condition-pop-up{
    display: grid;
    grid-template-columns: repeat(16,calc(100%/16));
    grid-template-rows: repeat(17,calc(70vh/17));
}

#condition-title{
    grid-row: 1;
    grid-column: 1/17;
    width: auto;
    border: none;
}

#condition-back-btn{
    grid-column: 2/8;
    grid-row: 15/17;
    width: auto;
    height: auto;
}

#condition-select-btn{
    grid-column: 10/16;
    grid-row: 15/17;
    width: auto;
    height: auto;
}

.pop-up-image{
    border: 1px solid white;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-color: transparent; 
}

/*Image from pop up for choosing a condition card.*/
#condition-pop-up-image{
    grid-column: 5/13;
    grid-row: 3/14;

    background-image: url("https://i.imgur.com/HaeAycy.png");
}

/*Image for the pop up for removing cards from the ordered list.*/
#removal-image{
    
    height: 50vh;
    width: 40%;
    margin-left: 5%;
    margin-right: 30%;
    margin-top: 5%;
    margin-bottom: 5%;
}

#no-remove-button{
    width: 30%;
    height: 10vh;
    margin-left: 5%;
    margin-right:5%;
}

#yes-remove-button{
    width:30%;
    height: 10vh;
    margin-right: 5%;
    margin-left: 5%;
}

.removal-container-so-flip-button-and-image-can-be-inline{
    display: flex;
}

#flip-button-for-removal-pop-up{
    width: 15%;
    height: 15vh;
    margin-left: 10%;
    margin-top:10%;
    visibility: hidden;
}

/*
Css for token pop-up
*/
#token-quantity-pop-up{
    display: grid;
    grid-template-columns: repeat(12,calc(100%/12));
    grid-template-rows: repeat(12,calc(40vh/12));
}
#ok-button{
    grid-row: 10/12;
    grid-column: 4/10;
}
#token-title{
    grid-row: 1;
    grid-column: 1/13;
}
#token-image{
    grid-row: 3/9;
    grid-column: 4/10;
    border:none;
}
#minus-button{
    grid-row: 5/7;
    grid-column: 2/4;
    font-weight: bold;
}
#plus-button{
    grid-row: 5/7;
    grid-column: 10/12;
    font-weight: bold;
}
#token-quantity{
    grid-row: 7/9;
    grid-column: 9/11;
    font-weight: bold;
    font-size: 4vw;
}

/*The following section is for the pop up on target locks*/

#target-lock-pop-up{
    display: grid;
    grid-template-columns: repeat(12,calc(100%/12));
    grid-template-rows: repeat(12,calc(60vh/12));
}

#target-team{
    grid-column: 3/11;
    grid-row: 5;
    background-color: black;
    border: 1px solid white;
    text-align: center;
    font-size:x-large;
}

#target-lock-title{
    grid-row: 1;
    grid-column: 1/13;
}

#target-lock-team-name{
    grid-column: 3/11;
    grid-row: 4;
    text-align: left;
    font-size: xx-large;
}


#roster-number-target-lock-title{
    grid-column: 4/12;
    grid-row: 7;
    text-align: left;
    font-size: xx-large;
}

#roster-number-target-lock-input{
    grid-column: 4/10;
    grid-row: 8;
    background-color: black;
    color: white;
    font-family: Impact, Charcoal, sans-serif;
    font-size: 2vw;
    text-align: center;
}

#ok-button-target-lock{
    grid-column: 8/11;
    grid-row: 10/12;
}

#back-button-target-lock{
    grid-column: 3/6;
    grid-row: 10/12;
    text-align: center;
}

#previous-team-button{
    grid-column: 2;
    grid-row: 5;
    text-align: center;
}

#next-team-button{
    grid-column: 11;
    grid-row: 5 
}

/*
This is the css for the target lock viewing pop-up
*/
#target-lock-view-pop-up{
    display: grid;
    grid-template-columns: repeat(12,calc(100%/12));
    grid-template-rows: repeat(12,calc(80vh/12));
}

#targetter-image{
    grid-column: 1/4;
    grid-row: 3/9;
}

#targetter-stats{
    grid-row: 3/9;
    grid-column: 4/7;
}
#targetted-image{
    grid-row: 3/9;
    grid-column: 7/10; 
}

#targetted-stats{
    grid-row: 3/9;
    grid-column: 10/13; 
}