body{
    background: url("https://i.imgur.com/nIM4P1r.jpg");
}

*:focus {
    outline: none;
}

.button{
    margin:1%;
    height: 25vh;
    width: 15%;
    background-image: url("https://i.imgur.com/RkyE0Xv.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: transparent;
    font-family: Impact, Charcoal, sans-serif;
    font-size: 1.5vw;
    border:none;
}

.title{
    font-family: Impact, Charcoal, sans-serif;
    font-size: 6vw;
    color: white;
    width: 90%;
    text-align: center;
    padding-right: 10%;
}

.grid-container{
    display:flex;
    flex-direction: row;
    overflow: auto;
}

.graph-title{
    text-align: center;
    color: white;
    font-family: Impact, Charcoal, sans-serif;
}

.title-button-container{
    height: 30vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.graph-container{
    width:50%;
    height: auto;
    margin: 1%;
    background-color: black;
    border: 5px solid white;
}

@media screen and (max-width: 768px){
    .title-button-container{
        height: 18vh;
    }

    .button{
        width: 30%;
        font-size: 4vw;
        height: 15vh;
    }

    .grid-container{
        display: block;
    }

    .graph-container{
        width: 100%;
        margin: 0%;
        border: 0px;
    }
}

@media screen and (max-width: 414px){
    .button{
        width: 40%;
        font-size: 6vw;
    }
}