body{
    background: url("https://i.imgur.com/nIM4P1r.jpg");
}
.title{
    font-family: Impact, Charcoal, sans-serif;
    font-size: 5.0em;
    color: white;
    justify-content: center;
    width: 100%;
}

.flex-item{
    display: flex;
}

.flex-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.list-box{
    display: flex;
    width: 20%;
    height: 65vh;
    align-self: center;
    margin-left: 3%;
    margin-right:3%;
}

.list-box-title{
    color: white;
    font-size: 3.0em;
    font-family: Impact, Charcoal, sans-serif;
    width:20%;
    text-align: center;
}

.team-names-title{
  width:20%;
  margin-left: 3%;
  margin-right: 3%;
}

.team-names{
    background-color: red;
    Width: 20%;
}

.cost-title{
    width:44%;
    text-align: left;
    margin-left: 5%;
}

.team-cost{
    background-color: blue;
    width: 15%;
}

.number-of-ships-title{
    margin-right: 3%;
    margin-left: 0.3%;
}

.team-size{
    background-color: green;
    width: 15%;
}