body{
    background-image: url('https://i.imgur.com/k1Che8s.jpg');
    background-size: 100% 100vh;
    background-repeat: no-repeat;
}

#grid-container{
    display: grid;
    grid-template-columns: repeat(100,calc(100%/100));
    grid-template-rows: repeat(100,calc(98vh/100));
}