body{
    background: url("https://i.imgur.com/nIM4P1r.jpg");
}

*:focus {
    outline: none;
}

#title{
    display: flex;
    font-family: Impact, Charcoal, sans-serif;
    font-size: 6vw;
    color: white;
    justify-content: center;
    width: 100%;
}

#pilot-card{
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border: 1px solid white;
    width: 100%;
    height: 60vh;
}

#button-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 22vh;
    align-items: center;
    /* border: 1px solid blue; */
}

.btn{
    width: 50%;
    height: 20vh;
}

#next-button{
    background-image: url("https://i.imgur.com/I7pRm3g.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
}

#prev-button{
    background-image: url("https://i.imgur.com/IWOoJwp.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
}

#full-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    /* border: 1px solid red; */
}

#left-container{
    /* border: 1px solid green; */
    width: 25%;
}

.grid-container{
    width: 75%;
    height:82vh;
    /* border: 1px solid orange; */
    display:grid;
    align-items: stretch;
    grid-template-columns: repeat(12,calc(100%/12));
    grid-template-rows: repeat(12,calc(82vh/12));
}

#back-button{
    grid-row: 10/13;
    grid-column: 10/13;
    background-color: transparent;
    background-image: url("https://i.imgur.com/RkyE0Xv.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border:none;
    font-family: Impact, Charcoal, sans-serif;
    font-size: 2vw;
    text-align: center;
}

#flip-button{
    grid-row: 1;
    grid-column: 3;
    background-color: transparent;
    background-image: url("https://i.imgur.com/RkyE0Xv.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border:none;
    font-family: Impact, Charcoal, sans-serif;
    font-size: 2vw;
    text-align: center;
    visibility: hidden;
}

#cycle-button{
    background-image: url("https://i.imgur.com/RkyE0Xv.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border:none;
    font-family: Impact, Charcoal, sans-serif;
    font-size: 1.5vw;
    text-align: center;
    grid-row: 8/10;
    grid-column: 8/10;
    background-color: transparent;
}

.icon{
    background-color: transparent;
    grid-column: 1;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-left: 12px;
}
#roster-number{
    grid-row: 1;
    background-image: url("https://i.imgur.com/pPhaRyl.png");
}
#pilot-skill{
    grid-row: 2;
    background-image: url("https://i.imgur.com/Y43E97x.png");
}
#attack{
    grid-row: 3;
    background-image: url("https://i.imgur.com/Y39TqgA.png");
}
#agility{
    grid-row: 4;
    background-image: url("https://i.imgur.com/M7lUR6Z.png");
}
#hull{
    grid-row: 5;
    background-image: url("https://i.imgur.com/OMjodS4.png");
}
#shields{
    grid-row:6;
    background-image: url("https://i.imgur.com/Aa8z8rX.png");
}
#energy{
    grid-row:7;
    background-image: url("https://i.imgur.com/21ZF1eI.png");
    visibility: hidden;
}

.stat{
    font-family: Impact, Charcoal, sans-serif;
    font-size: 3vw;
    color: white;
    grid-column: 2;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
    /* border: 1px solid purple; */
}
#roster-number-stat{
    grid-column: 2/3;
    grid-row: 1;
    white-space: nowrap;
}
#pilot-skill-stat{
    grid-row:2;
}
#attack-stat{
    grid-row:3;
}
#agility-stat{
    grid-row:4;
}
#hull-stat{
    grid-row:5;
}
#shields-stat{
    grid-row:6;
}
#energy-stat{
    grid-row:7;
    visibility: hidden;
}

.upgrades-title{
    font-family: Impact, Charcoal, sans-serif;
    font-size: 4vw;
    color: white;
    grid-column: 4/8;
    grid-row:1;
    text-align: center;
}

.maneuvers-title{
    font-family: Impact, Charcoal, sans-serif;
    font-size: 4vw;
    color: white;
    grid-column: 9/12;
    grid-row: 2;
    text-align: center;
}



#upgrade-box{
    grid-column: 4/8;
    grid-row: 2/12;
    border: 1px solid white;
    background-color: black;
    padding-inline-start: 0px;
    display: inline-block;
    overflow: scroll;
}

#maneuver-box{
    grid-row: 4/7;
    grid-column: 9/12;
    border: 1px solid white;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}


/*This is the page for the change roster number pop-up*/
.roster-number-container{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 1px solid white;
    z-index: 100;
    background: url("https://i.imgur.com/nIM4P1r.jpg");
    width:  30%;
    height: 37vh;
    visibility: hidden;
}

#overlay{
    position: fixed;
    opacity: 0;
    top:0;
    left: 0;
    right:0;
    bottom:0;
    background-color: rgba(0,0,0,.5);
    pointer-events: none;
}


.pop-btn{
    width: 30%;
    height: 20vh;
    margin: 5%;
    background-image: url("https://i.imgur.com/RkyE0Xv.png");
    background-repeat: no-repeat;
    background-size: 100% 20vh;
    background-color: transparent;
    font-family: Impact, Charcoal, sans-serif;
    font-size: 1.2vw;
    border:none;
}


.roster-number-header{
    font-family: Impact, Charcoal, sans-serif;
    font-size: 3vw;
    color: white;
    justify-content: center;
    width: 100%;
    text-align: center;
}

#roster-number-input{
    display: block;
    width: 20%;
    margin: 0 auto;
    margin-left: auto;
    margin-right: auto;
    font-family: Impact, Charcoal, sans-serif;
    font-size: 2vw;
    color:white;
    background-color: black;
    text-align: center;

}

#pop-up-button-container{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

/*
This is the css for the stat quantity altering pop up.
*/

#token-quantity-pop-up{
    display: grid;
    grid-template-columns: repeat(12,calc(100%/12));
    grid-template-rows: repeat(12,calc(40vh/12));
}
#ok-button{
    grid-row: 10/12;
    grid-column: 4/10;
}
#token-title{
    grid-row: 1;
    grid-column: 1/13;
}
#token-image{
    grid-row: 3/9;
    grid-column: 4/10;
    border:none;
}
#minus-button{
    grid-row: 5/7;
    grid-column: 2/4;
    font-weight: bold;
}
#plus-button{
    grid-row: 5/7;
    grid-column: 10/12;
    font-weight: bold;
}
#token-quantity{
    grid-row: 7/9;
    grid-column: 9/11;
    font-weight: bold;
    font-size: 4vw;
}

.pop-up-container{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 5px solid white;
    z-index: 100;
    background: url("https://i.imgur.com/nIM4P1r.jpg");
    width: 40%;
    visibility: hidden;
    text-align: center;
}

.pop-up-title{
    font-family: Impact, Charcoal, sans-serif;
    font-size: 3vw;
    color: white;
}

.pop-up-image{
    border: 1px solid white;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-color: transparent; 
}

.button{
    background-image: url("https://i.imgur.com/RkyE0Xv.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    font-family: Impact, Charcoal, sans-serif;
    font-size: 2vw;
    text-align: center;
}

.long-button{
    background-image: url("https://i.imgur.com/QqrKDZs.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    font-family: Impact, Charcoal, sans-serif;
    font-size: 1.0vw;
    text-align: center; 
}

#button-options-container{
    border: 1px solid white;
    background-color: black;
    grid-row: 3/13;
    grid-column: 2/12;
    display: grid;
    grid-template-columns: repeat(12,calc(100%/12));
    grid-template-rows: repeat(25,calc(100%/25));

}

#button-options-framing-container
{
    display: grid;
    grid-template-columns: repeat(12,calc(100%/12));
    grid-template-rows: repeat(12,calc(100%/12));
    grid-row: 7/13;
    grid-column: 1/4;
}

#upgrade-button{
    grid-column: 2/12;
    grid-row: 2/5;
}

#new-ship-button{
    grid-column: 2/12;
    grid-row: 6/9;
}

#repair-button{
    grid-column: 2/12;
    grid-row: 10/13;
}

#repair-all-button{
    grid-column: 2/12;
    grid-row: 14/17;
}

#remove-ship-button{
    grid-column: 2/12;
    grid-row: 18/21;
}

#transfer-button{
    grid-column: 2/12;
    grid-row: 22/25;
}

#transfer-pop-up{
    max-width:40%;
    max-height: 50vh;
    overflow-y: scroll;
}

#confirmation-pop-up{
    display: grid;
    grid-template-columns: repeat(12,calc(100%/12));
    grid-template-rows: repeat(12,calc(50vh/12));
}
#confirmation-message{
    grid-row: 1;
    grid-column: 2/12;
    text-align: center;
}

#yes-confirm-button{
    grid-row: 10/12;
    grid-column: 2/6;
}

#no-confirm-button{
    grid-row: 10/12;
    grid-column: 8/12;
}

#rebate-title{
    grid-row: 5;
    grid-column: 2/12;
    font-family: Impact, Charcoal, sans-serif;
    font-size: 2.0vw;
    text-align: center; 
    color: white;
    text-decoration: underline;
}

#rebate-image{
    grid-row: 7/9;
    grid-column: 5/7;
    background-image: url("https://i.imgur.com/cMjNBfW.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#rebate-quantity{
    grid-row: 7/9;
    grid-column: 7/9;
    font-family: Impact, Charcoal, sans-serif;
    font-size: 3.0vw;
    text-align: center;
    color: white;
}

#resource-pop-up{
    display: grid;
    position: fixed;
    background-color: black;
    border: 1px solid white;
    width: 23%;
    height: 11vh;
    top: 2%;
    left: 1%;
    grid-template-columns: repeat(24,calc(100%/24));
    grid-template-rows: repeat(13,calc(100%/13));
}

#money-image-resource-counter{
    grid-row: 2/7;
    grid-column: 3/6;
    background-image: url("https://i.imgur.com/cMjNBfW.jpg");
    border: none;
}

#money-quantity-label
{
    grid-row: 3/7;
    grid-column: 6/9;
}

#tibanna-image-resource-counter{
    grid-row: 8/13;
    grid-column: 3/6;
    border: none;
    background-image: url("https://i.imgur.com/wfKP4ey.jpg");
}

#tibanna-quantity-label{
    grid-row: 9/13;
    grid-column: 6/9;
}

#electronics-image-resource-counter{
    grid-row: 2/7;
    grid-column: 10/13;
    border: none;
    background-image: url("https://i.imgur.com/qOjfTHl.png");
}

#electronics-quantity-label{
    grid-row: 3/7;
    grid-column: 13/16;
}

#durasteel-image-resource-counter{
    grid-row: 8/13;
    grid-column: 10/13;
    border: none;
    background-image: url("https://i.imgur.com/1nxO0oQ.png");
}

#durasteel-quantity-label{
    grid-row: 9/13;
    grid-column: 13/16;
}

#fuel-image-resource-counter{
    grid-row: 2/7;
    grid-column: 17/20;
    border: none;
    background-image: url("https://i.imgur.com/gqJjMUH.jpg");
}

#fuel-quantity-label{
    grid-row: 3/7;
    grid-column: 20/23;
}

#parts-image-resource-counter{
    grid-row: 8/13;
    grid-column: 17/20;
    border: none;
    background-image: url("https://i.imgur.com/SkbOfo9.jpg");
}

#parts-quantity-label{
    grid-row: 9/13;
    grid-column: 20/23;
}

.pop-up-image{
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border: 1px solid white;
}

.pop-up-text{
    text-align: left;
    color: white;
    font-family: Impact, Charcoal, sans-serif;
}

#direction-pop-up{
    display: grid;
    width: 45%;
    grid-template-columns: repeat(16,calc(100%/16));
    grid-template-rows: repeat(16,calc(70vh/16));
}

#direction-back-button{
    grid-row: 14/16;
    grid-column: 2/6;
    font-size: 2vw;
}

#down-image{
    grid-row:14/16;
    grid-column: 8/10;
    border: 1px solid white;
}

#down-arrow{
    border: 1px solid white;
    grid-row: 11/13;
    grid-column: 8/10;
    background-image: url("https://i.imgur.com/PkPQeXc.png?1");
    border: none;
}

#middle-container{
    border: 1px solid white;
    grid-column: 8/10;
    grid-row: 8/10;
}

#up-arrow{
    border: 1px solid white;
    grid-column: 8/10;
    grid-row: 5/7;
    background-image: url("https://i.imgur.com/uVpqHwe.png?1");
    border: none;
}

#up-image{
    border: 1px solid white;
    grid-column: 8/10;
    grid-row:2/4;
}

#left-arrow{
    border: 1px solid white;
    grid-column:5/7;
    grid-row: 8/10;
    background-image: url("https://i.imgur.com/IWOoJwp.png?2");
    border: none;
}

#left-image{
    border: 1px solid white;
    grid-column: 2/4;
    grid-row: 8/10;
}

#right-arrow{
    border:1px solid white;
    grid-column: 11/13;
    grid-row: 8/10;
    background-image: url("https://i.imgur.com/I7pRm3g.png");
    border: none;
}

#right-image{
    border: 1px solid white;
    grid-row:8/10;
    grid-column:14/16;
}

#payment-type-pop-up{
    visibility: hidden;
    display: grid;
    width: 35%;
    grid-template-columns: repeat(16,calc(100%/16));
    grid-template-rows: repeat(16,calc(60vh/16));
}

#payment-type-title{
    grid-row: 1;
    grid-column: 1/17;
}

#payment-resource-container{
    grid-row: 6/12;
    grid-column: 2/16;
    border: 1px solid white;
    display: grid;
    grid-template-columns: repeat(19,calc(100%/19));
    grid-template-rows: repeat(16,calc(100%/16));
}

#currency-button{
    grid-row: 13;
    grid-column: 2/8;
}

#parts-button{
    grid-row: 13;
    grid-column: 10/16; 
}

#payment-back-button{
    grid-row: 15;
    grid-column: 5/13
}

.resource-image{
    border: 1px solid white;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    grid-row: 2/7;
}

.resource-text{
    color:white;
    text-align: center;
    font-family: Impact, Charcoal, sans-serif;
    border: 1px solid white;
    grid-row: 7/9;
}

#cost-currency-image{
    grid-column: 2/4;
    background-image: url("https://i.imgur.com/cMjNBfW.jpg");
}

#cost-curreny-quantity{
    grid-column: 2/4;
}

#cost-parts-image{
    grid-column: 5/7;
    background-image: url("https://i.imgur.com/SkbOfo9.jpg");
}

#cost-parts-quantity{
    grid-column: 5/7;
}

#cost-electronics-image{
    grid-column: 8/10;
    background-image: url("https://i.imgur.com/qOjfTHl.png");
}

#cost-electronics-quantity{
    grid-column: 8/10;
}

#cost-fuel-image{
    grid-column: 11/13;
    background-image: url("https://i.imgur.com/gqJjMUH.jpg");
}

#cost-fuel-quantity{
    grid-column: 11/13;
}

#cost-tibanna-image{
    grid-column: 14/16;
    background-image: url("https://i.imgur.com/wfKP4ey.jpg");
}

#cost-tibanna-quantity{
    grid-column: 14/16;
}

#cost-durasteel-image{
    grid-column: 17/19;
    background-image: url("https://i.imgur.com/1nxO0oQ.png");
}

#cost-durasteel-quantity{
    grid-column: 17/19;
}

#or-title{
    grid-column: 5;
    grid-row: 10;
    text-decoration: underline;
}

#alternate-cost-currency-image{
    grid-column: 9/11;
    grid-row: 11/16;
    background-image: url("https://i.imgur.com/cMjNBfW.jpg");
}

#alternate-cost-curreny-quantity{
    grid-row: 12/15;
    grid-column: 11/13;
}