body{
    background: url("https://i.imgur.com/nIM4P1r.jpg");
}

*:focus {
    outline: none;
}

#title{
    display: flex;
    font-family: Impact, Charcoal, sans-serif;
    font-size: 6vw;
    color: white;
    justify-content: center;
    width: 100%;
}

#pilot-card{
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border: 1px solid white;
    width: 100%;
    height: 60vh;
}

#button-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 22vh;
    align-items: center;
    /* border: 1px solid blue; */
}

.btn{
    width: 50%;
    height: 20vh;
}

#next-button{
    background-image: url("https://i.imgur.com/I7pRm3g.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
}

#prev-button{
    background-image: url("https://i.imgur.com/IWOoJwp.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
}

#full-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    /* border: 1px solid red; */
}

#left-container{
    /* border: 1px solid green; */
    width: 25%
;}

.grid-container{
    width: 75%;
    height:82vh;
    /* border: 1px solid orange; */
    display:grid;
    align-items: stretch;
    grid-template-columns: repeat(12,calc(100%/12));
    grid-template-rows: repeat(12,calc(82vh/12));
}

#back-button{
    grid-row: 10/13;
    grid-column: 10/13;
    background-color: transparent;
    background-image: url("https://i.imgur.com/RkyE0Xv.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border:none;
    font-family: Impact, Charcoal, sans-serif;
    font-size: 2vw;
    text-align: center;
}

#upgrade-button{
    grid-row: 8/10;
    grid-column: 8/10;
    background-color: transparent;
    background-image: url("https://i.imgur.com/RkyE0Xv.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border:none;
    font-family: Impact, Charcoal, sans-serif;
    font-size: 2vw;
    text-align: center;
}

.icon{
    background-color: transparent;
    grid-column: 1;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
#roster-number{
    grid-row: 1;
    background-image: url("https://i.imgur.com/pPhaRyl.png");
}
#pilot-skill{
    grid-row: 2;
    background-image: url("https://i.imgur.com/Y43E97x.png");
}
#attack{
    grid-row: 3;
    background-image: url("https://i.imgur.com/Y39TqgA.png");
}
#agility{
    grid-row: 4;
    background-image: url("https://i.imgur.com/M7lUR6Z.png");
}
#hull{
    grid-row: 5;
    background-image: url("https://i.imgur.com/OMjodS4.png");
}
#shields{
    grid-row:6;
    background-image: url("https://i.imgur.com/Aa8z8rX.png");
}
#energy{
    grid-row:7;
    background-image: url("https://i.imgur.com/21ZF1eI.png");
    visibility: hidden;
}

.stat{
    font-family: Impact, Charcoal, sans-serif;
    font-size: 3vw;
    color: white;
    grid-column: 2;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
    /* border: 1px solid purple; */
}
#roster-number-stat{
    grid-row: 1;
}
#pilot-skill-stat{
    grid-row:2;
}
#attack-stat{
    grid-row:3;
}
#agility-stat{
    grid-row:4;
}
#hull-stat{
    grid-row:5;
}
#shields-stat{
    grid-row:6;
}
#energy-stat{
    grid-row:7;
    visibility: hidden;
}

.upgrades-title{
    font-family: Impact, Charcoal, sans-serif;
    font-size: 4vw;
    color: white;
    grid-column: 4/8;
    text-align: center;
}

.maneuvers-title{
        font-family: Impact, Charcoal, sans-serif;
        font-size: 4vw;
        color: white;
        grid-column: 9/12;
        grid-row: 3;
        text-align: center;
}

#upgrade-box{
    grid-column: 4/8;
    grid-row: 2/12;
    border: 1px solid white;
    background-color: black;
    padding-inline-start: 0px;
    display: inline-block;
    overflow: scroll;
}

#maneuver-box{
    grid-row: 4/7;
    grid-column: 9/12;
    border: 1px solid white;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}