body{
    background: url("https://i.imgur.com/nIM4P1r.jpg");
}

*:focus {
    outline: none;
}

.button{
    bottom: 0;
    margin-left: 1%;
    background-image: url("https://i.imgur.com/RkyE0Xv.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    font-family: Impact, Charcoal, sans-serif;
    font-size: 2vw;
}

.grid-item{
    border: none;
    margin-bottom: 3%;
    margin-left: 20%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.grid-container{
    display:grid;
    align-items: stretch;
    grid-template-columns: repeat(5,calc(75%/5));
    grid-template-rows: repeat(4,calc(80vh/4));
    margin-left: 10%;
    width:100%;
    outline: none;
  }

  .title{
    width: 100%;
    text-align: center;
    color: white;
    font-family: Impact, Charcoal, sans-serif;
    font-size: 4vw;
    height: 10vh;
}
