body{
    background: url("https://i.imgur.com/nIM4P1r.jpg");
}

*:focus {
    outline: none;
}

.button{
    bottom: 0;
    margin-left: 1%;
    background-image: url("https://i.imgur.com/RkyE0Xv.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    font-family: Impact, Charcoal, sans-serif;
    font-size: 2vw;
}

.grid-item{
    border: none;
    margin-bottom: 3%;
    margin-left: 20%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.grid-container{
    display:grid;
    align-items: stretch;
    grid-template-columns: repeat(5,calc(75%/5));
    grid-template-rows: repeat(4,calc(80vh/4));
    margin-left: 10%;
    width:100%;
    outline: none;
}

  .title{
    width: 100%;
    text-align: center;
    color: white;
    font-family: Impact, Charcoal, sans-serif;
    font-size: 4vw;
    height: 10vh;
}

/*Astromech*/
.one{
    background-image: url("https://i.imgur.com/5kHNsJP.png");
}

/*Bombs*/
.two{
    background-image: url("https://i.imgur.com/gdv4xeW.png");
}

/*Cannons*/
.three{
    background-image: url("https://i.imgur.com/qQNhov6.png");
}

/*Cargo*/
.four{
    background-image: url("https://i.imgur.com/bpW40t8.png");
}

/*Crew*/
.five{
    background-image: url("https://i.imgur.com/rXZuRPh.png");
}

/*Elite*/
.six{
    background-image: url("https://i.imgur.com/hxSr5Q6.png");
}

/*Hardpoint*/
.seven{
    background-image: url("https://i.imgur.com/bJ81LP6.png");
}

/*Illicit*/
.eight{
    background-image: url("https://i.imgur.com/Js6cxiw.png");
}

/*Missiles*/
.nine{
    background-image: url("https://i.imgur.com/kykCigV.png");
}

/*Modification*/
.ten{
    background-image: url("https://i.imgur.com/SmuvGcn.png");
}

/*Salvaged Astromech*/
.eleven{
    background-image: url("https://i.imgur.com/w6j25F0.png");
}

/*Systems*/
.twelve{
    background-image: url("https://i.imgur.com/LDUc7Ne.png");
}

/*Team*/
.thirteen{
    background-image: url("https://i.imgur.com/4an0f0G.png");
}

/*Tech*/
.fourteen{
    background-image: url("https://i.imgur.com/NjXpBii.png");
}

/*Title*/
.fifteen{
    background-image: url("https://i.imgur.com/iHtH9yX.png");
}

/*Torpedo*/
.sixteen{
    background-image: url("https://i.imgur.com/K9ZrTKA.png");
}

/*Turret*/
.seventeen{
    background-image: url("https://i.imgur.com/jP2oBjU.png");
}

@media screen and (max-width: 768px){
    .title{
        font-size: 6vw;
    }

    .button{
        font-size: 5vw;
        width: 25vw;
        height: 20vh;
    }
    
    .grid-container{
        grid-template-columns: repeat(3,calc(95%/3));
        grid-template-rows: auto;
        margin-left: 0%;
    }

    .grid-item{
        height: 20vh;
    }
}

@media screen and (max-width: 414px){
    .title{
        font-size: 7vw;
    }

    .button{
        font-size: 6vw;
        width: 35vw;
    }

    .grid-container{
        grid-template-columns: repeat(2,calc(95%/2));
    }
}