@Media all and (min-width: 901px){
body {
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.5em;
  color: #dedede;
}

nav {
  background-image: linear-gradient(to right, rgb(1, 73, 73) 20%, black);
  height: 100%;
}

.navbar{
  display: flex;
}

.navbar_child:hover{
  background-color: #207F81;
}
.navbar_child:focus{
  background-color: yellow;
}

.navbar_child:active{
  background-color:#207F81;
}
.navbar_child{
 height: 50px;
 width: 125px;
 text-align: center;
 margin-left: auto;
 margin-right: auto;  
}}
@Media all and (max-width: 900px)
{
  body {
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.5em;
    color: #dedede;
  }
  
  nav {
    background-image: linear-gradient(to right, rgb(1, 73, 73) 20%, black);
    height: 100%;
  }
  
  .navbar{
    display: flexbox;
    align-items: center;
    text-align: center;
  }
  
  .navbar_child:hover{
    background-color: #207F81;
  }
  .navbar_child:focus{
    background-color: yellow;
  }
  
  .navbar_child:active{
    background-color:#207F81;
  }
  .navbar_child{
   height: 50px;
   width: 125px;
   text-align: center;
   margin-left: auto;
   margin-right: auto;
  }  
}


