body {
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.1em;
  color: #555;
}

#cat{
  border: solid black 2px;
  margin: auto;
}

.catPhotoRowOne{
  display: flex;
}

#im2{
  filter:grayscale(100);
}

#im3{
  filter: blur(5px);
}

#im4{
  filter:invert(100%);
}

#im5{
  filter:brightness(50%);
}

#im6{
  filter:saturate(150%);
}

#im7{
  filter:sepia(100%);
}

#im8{
  filter:opacity(35%);
}

.catPhotoRowTwo{
  display: flex;
}
