body {
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 20px;
  color: #555;
}

/* Colors used include:
      - #006060;
      - rgb alpha value of the color above
*/

table{
  border: 1px solid #006060;
}

td,th{
  padding-right: 15px;
  height: 50px;
}

#header{
  background-color: #006060;
  color: white;
}

.data_entry:focus
{
  background-color: #006060;
}
