body{
    background: url("https://i.imgur.com/nIM4P1r.jpg");
    display: grid;
    grid-template-columns: repeat(12,calc(100%/12));
    grid-template-rows: repeat(12,calc(98vh/12));
}

.list-box{
    background-color: black;
    border: 2px solid white;
    overflow: scroll;
    /*width: 40%;
    height: 50vh;
    margin-left: 3%;
    margin-right: 3%;*/
}

.list-box-title{
    color:white;
    text-align: center;
    font-family: Impact, Charcoal, sans-serif;
}

/*s.list-box-container{
    display: flex;
    flex-direction: row;
}*/

.list-box-items{
    margin-left: 3%;
    margin-right: 3%;
    max-height: 45vh;
    overflow: auto;
}

#title{
    font-size: 5vw;
    grid-row: 1;
    grid-column: 1/13;
}

.back{
    /*bottom:0;
    margin-bottom: 3%;
    width: 25%;
    height: 15vh;
    margin-left: 3%;*/
    background-image: url("https://i.imgur.com/QqrKDZs.png");
    background-size: 100% 100%;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    font-family: Impact, Charcoal, sans-serif;
    font-size: 2vw;
    grid-row: 10/12;
    grid-column: 5/9;
}

/*.Ship-Size{
    margin-left:0%;
    margin-right:10%
}*/

.list_options{
    color:white;
    display: block;
    margin:3%;
    font-family: Impact, Charcoal, sans-serif;
    font-size: 2vw;
    padding: 1%;
}

.list_options:hover{
    background-color: #303030;
}

#size-box{
    grid-row: 3/9;
    grid-column: 2/6;
}

#ship-box{
    grid-row: 3/9;
    grid-column: 8/12;
}

#ship-size-title{
    grid-row:2;
    grid-column:2/6;
    font-size: 4vw;
}

#ship-title{
    grid-row:2;
    grid-column:8/12;
    font-size: 4vw;
}