  body {
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color:#00425c;
    text-align: center;
  }
  .box {
    width: 500px;
    height: 700px;
    border:1px solid black;
    align-self: center;
    background-color: white;
    display:inline-block;
  }
  .Subtitle{
    display: flex;
    font-weight: bold;
    text-align: left;
    margin-left: 20px;
    margin-right: auto;
  }

  #Title{
    text-align: center;
    color: #0173a0;
    font-size: 2em;
    font-weight: bold;
  }

  .Subsubtitle{
    color:grey;
    margin-left: 5px;
  }

  .Textbox{
    display:flex;
    width:90%;
    margin-left: auto;
    margin-right: auto;
  }

  #Dropoptions{
    width:90%;
    margin-left:-10px;
    margin-right: auto;
  }

  .RadioClassSelection{
    display: flex;
    margin-left: 15px;
  }

  #addition{
    width:90%;
  }

  #CS{
    margin-left: -310px;
  }
  #OS{
    margin-left: -305px;
  }
  #Web{
    margin-left: -237px;
  }

  #submit{
    width: 45%;
    height: 5%;
    background-color: #0173a0;
    color:white;
    border: 1px solid black;
    font-weight: bold;
  }

  #reset{
    width: 45%;
    height: 5%;
    background-color: white;
    color:#0173a0;
    border: 1px solid #0173a0;
    font-weight: bold;
  }

}
