body{
    background: url("https://i.imgur.com/nIM4P1r.jpg");
}

*:focus {
    outline: none;
}

.flex-container{
    display: flex;
    justify-content: center;
}

.TitleImage{
    display: block;
    background: url("https://i.imgur.com/LseOggz.png");
    width: 60%;
    height:50vh;
}

.NewGame{
    top: 55%;
}

.LoadGame{
    top: 75%;  
}

.button{
    width: 40%;
    height:20vh;
    position: absolute;
    left: center;
    background-image: url("https://i.imgur.com/QqrKDZs.png");
    background-repeat: no-repeat;
    /*background-size: contain;*/
    background-size: 100% 20vh;
    background-position: center;
    background-color: transparent;
    border:none;
    font-family: Impact, Charcoal, sans-serif;
    font-size: xx-large;
    
}

@media screen and (max-width: 1200px) and (min-width: 1px)
{
    .button{
        width: 60%;
    }
}