body{
    background: url("https://i.imgur.com/nIM4P1r.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

*:focus {
    outline: none;
}

.flex-container{
    display: flex;
    justify-content: center;
}

.TitleImage{
    display: block;
    background: url("https://i.imgur.com/LseOggz.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 60%;
    height:50vh;
}

.NewGame{
    top: 55%;
}

.LoadGame{
    top: 75%;  
}

.galaxy{
    top:1%;
    left:1%;
    width: 10%;
    height:5vh;
    position: absolute;
    background-image: url("https://i.imgur.com/QqrKDZs.png");
    background-repeat: no-repeat;
    /*background-size: contain;*/
    background-size: 100% 100%;
    background-position: center;
    background-color: transparent;
    border:none;
    font-family: Impact, Charcoal, sans-serif;
    font-size:medium;
}

.button{
    width: 40%;
    height:20vh;
    position: absolute;
    left: center;
    background-image: url("https://i.imgur.com/QqrKDZs.png");
    background-repeat: no-repeat;
    /*background-size: contain;*/
    background-size: 100% 20vh;
    background-position: center;
    background-color: transparent;
    border:none;
    font-family: Impact, Charcoal, sans-serif;
    font-size: xx-large;
    
}

#overlay{
    position: fixed;
    opacity: 0;
    top:0;
    left: 0;
    right:0;
    bottom:0;
    background-color: rgba(0,0,0,.5);
    pointer-events: all;
    opacity: 1;
}

.loading-container{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 1px solid white;
    z-index: 100;
    background: url("https://i.imgur.com/bN43Ucg.jpg");
    background-size: 100%,100%;
    background-repeat: no-repeat;
    width: 45vh;
    height: 32vh;
}

.loading-container-header{
    font-family: Impact, Charcoal, sans-serif;
    font-size: 2vw;
    color: white;
    justify-content: center;
    text-align: center;
    width: 100%;
}

#choosing-game-type-popup{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 1px solid white;
    z-index: 100;
    background: url("https://i.imgur.com/nIM4P1r.jpg");
    background-size: 100%,100%;
    background-repeat: no-repeat;
    border: 3px solid white;
    width: 60%;
    height: 40vh;
    visibility: hidden;
    display: grid;
    grid-template-columns: repeat(1,calc(100%/1));
    grid-template-rows: repeat(4,calc(100%/4));
}

#freeplay-button{
    grid-column: 1;
    grid-row: 2;
}

#galactic-conquest-button{
    grid-column: 1;
    grid-row: 3;
}

#game-type-back-button{
    grid-column: 1;
    grid-row: 4;
}

#game-type-title{
    font-family: Impact, Charcoal, sans-serif;
    font-size: 3vw;
    color: white;
    text-align: center;
    grid-row: 1;
    grid-column: 1;
}

.game-selection-button{
    position: absolute;
    left: center;
    background-image: url("https://i.imgur.com/QqrKDZs.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    background-color: transparent;
    border:none;
    font-family: Impact, Charcoal, sans-serif;
    font-size: xx-large;
    width: 80%;
    height: 9vh;
    margin-left: 10%;
}
/*///////////////////////////////////////////// LOADING POP-UP //////////////////////////////////////////////*/
.pop-up-button{
    background-image: url("https://i.imgur.com/RkyE0Xv.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    font-family: Impact, Charcoal, sans-serif;
    font-size: 2vw;
    text-align: center;
}

#back-button-load-pop-up{
    grid-column: 2/6;
    grid-row: 8/12;
}

#ok-button-load-pop-up{
    grid-column:8/12 ;
    grid-row: 8/12;
}

#load-name-input{
  font-family: Impact, Charcoal, sans-serif;
  font-size: large;
  color: white;
  background-color: black;
  font-size: x-large;
  text-align: center;
  grid-row: 6/8;
  grid-column: 2/12;
}

#loading-pop-up-title{
    font-family: Impact, Charcoal, sans-serif;
    font-size: 3vw;
    color: white;
    text-align: center;
    grid-row: 1;
    grid-column: 1/13;
}

#loading-game-input-popup{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 5px solid white;
    z-index: 100;
    background: url("https://i.imgur.com/nIM4P1r.jpg");
    width: 40%;
    visibility: hidden;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(12,calc(100%/12));
    grid-template-rows: repeat(12,calc(40vh/12));
    visibility: hidden;
}

/*///////////////////////////////////////////// MEDIA QUERIES//////////////////////////////////////////////*/
@media screen and (max-width: 768px){
    .button{
        width: 40%;
        font-size: 5vw;
    }

    .loading-container-header{
        font-size: 4.5vw;
    }
}

@media screen and (max-width: 414px){
    .button{
        width: 60%;
        font-size: 6vw;
    }
}